{{#if addNewComment}}
<h3>New Comment</h3>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input placeholder="Your Name Here" value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="reply">Reply</label>
        {{input placeholder="Your reply Here"value=reply id="reply"}}
      </div>
      <button class="btn btn-lg btn-primary" {{action 'saveComment'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-lg btn-primary" {{action 'commentFormShow'}}>New Comment</button>
{{/if}}
